body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f3f3f3;
    border-top: 5px solid #4CAF50;
    border-bottom: 5px solid #4CAF50;
    padding: 20px;
}

h2 {
    color: #333;
}

form {
    display: inline-block;
    text-align: left;
}

#display {
    width: 200px;
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: 75px;
    height: 75px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

input:hover {
    background-color: #45a049;
}

label {
    margin-right: 5px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    margin-left: 10px;
}
